:root {
	--color-background-page: #140d4f;
	--color-text-on-page-background: #ffffff;

	--color-background: #ffffff;
	--color-background-secondary: #bfedef;
	--color-text-primary: #000000;
	--color-text-secondary: #000000;

	--color-link-inline: #de541e;
	--color-link-inline-hover: #e9855b;

	--color-button-nav-bg: #ffffff;
	--color-button-nav-bg-hover: #b4c5e4;
	--color-button-nav-bg-active: #b4c5e4;
	--color-button-nav-text: #000000;
	--color-button-nav-text-hover: #000000;
	--color-button-nav-text-active: #000000;

	--color-wave-background: #bfedef;
	--shadow-color: 167deg 31% 55%;
}
