:root {
	--color-background-page: #140d4f;
	--color-text-on-page-background: #ffffff;

	--color-background: #39627f;
	--color-background-secondary: #2f384c;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;

	--color-link-inline: #f3d71c;
	--color-link-inline-hover: #ffd99f;

	--color-button-nav-bg: #39627f;
	--color-button-nav-bg-hover: #2f384c;
	--color-button-nav-bg-active: #2f384c;
	--color-button-nav-text: #ffffff;
	--color-button-nav-text-hover: #ffffff;
	--color-button-nav-text-active: #ffffff;

	--color-wave-background: #364156;
	--shadow-color: 27deg 36% 6%;
}
