main {
	height: 100%;
	display: grid;
	place-content: center;
	text-align: center;
	padding: 2rem;
}

h1 {
	font-size: 3rem;
}

strong {
	font-size: 2em;
	text-decoration: underline;
}

.card-wrapper {
	background-color: var(--color-background);
	border-radius: var(--corner-md);
	padding: var(--spacing-xl);
}
