html {
	font-family: sans-serif;
	scroll-behavior: smooth;
	background-color: var(--color-background-page);
	color: var(--color-text-primary);

	a {
		text-decoration: none;
		color: var(--color-link-inline);

		&:hover,
		&:focus {
			text-decoration: underline;
			color: var(--color-link-inline-hover);
		}
	}

	--shadow-elevation-low: -0.4px 0.2px 0.5px hsl(var(--shadow-color) / 0.34),
		-0.6px 0.4px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
		-1.5px 0.9px 2px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium: -0.4px 0.2px 0.5px hsl(var(--shadow-color) / 0.36),
		-1.2px 0.7px 1.6px -0.8px hsl(var(--shadow-color) / 0.36),
		-3px 1.8px 3.9px -1.7px hsl(var(--shadow-color) / 0.36),
		-7.4px 4.5px 9.7px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high: -0.4px 0.2px 0.5px hsl(var(--shadow-color) / 0.34),
		-2.2px 1.3px 2.9px -0.4px hsl(var(--shadow-color) / 0.34),
		-4px 2.4px 5.2px -0.7px hsl(var(--shadow-color) / 0.34),
		-6.6px 4px 8.7px -1.1px hsl(var(--shadow-color) / 0.34),
		-10.6px 6.4px 13.9px -1.4px hsl(var(--shadow-color) / 0.34),
		-16.5px 10px 21.7px -1.8px hsl(var(--shadow-color) / 0.34),
		-25.1px 15.3px 33.1px -2.1px hsl(var(--shadow-color) / 0.34),
		-37px 22.5px 48.7px -2.5px hsl(var(--shadow-color) / 0.34);
}
