html {
	--max-page-width: 1800px;

	--corner-sm: 0.25rem;
	--corner-md: 0.5rem;
	--corner-lg: 1rem;
	--corner-round: 9999px;

	--spacing-sm: 0.25rem;
	--spacing-md: 0.5rem;
	--spacing-lg: 1rem;
	--spacing-xl: 2rem;

	--font-1: 0.75rem;
	--font-2: 1rem;
	--font-3: 1.25rem;
	--font-4: 1.5rem;
	--font-5: 1.75rem;
	--font-6: 2rem;
	--font-7: 2.5rem;
	--font-8: 3rem;
	--font-9: 3.5rem;
	--font-10: 4rem;
}
